{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}
    <title>Your Cart</title>
{% endblock title %}

{% block content %}

    <main class="mt-5 pt-4">
        <div class="container mt-5">
            <div class="table-responsive">
                <h2>Your Cart:</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">№</th>
                        <th scope="col">Product</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Unit Price</th>
                        <th scope="col">Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item  in cart %}
                        {% with item.product as product %}
                            <tr data-index={{ product.id }}>
                                <th data-index={{ product.id }} scope="row">{{ forloop.counter }}</th>
                                <td>
                                    {% if product.image.url %}
                                        <a href="{{ product.image.url }}">
                                            <img src="{% thumbnail product.image 50x0 %}">
                                        </a>
                                    {% endif %}
                                    <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                                </td>
                                <td>
                                    <button id="remove-product-btn" type="submit" class="btn-sm btn-outline border-0 mr-1 remove-btn" aria-hidden="true" data-index={{ product.id }}><i
                                            class="fas fa-minus" aria-hidden="true" ></i></button>
                                    <span class="product-qty">{{ item.quantity }}</span>
                                    <button id="add-product-btn" type="submit" class="btn-sm btn-outline border-0 ml-1 add-btn" aria-hidden="true" data-index={{ product.id }}><i
                                            class="fas fa-plus " aria-hidden="true" data-index={{ product.id }}></i></button>
                                </td>

                                <td>${{ item.price }}</td>
                                <td class="product-subtotal">${{ item.total_price }}</td>
                                <td><span>
                                    <button data-index={{ product.id }} class="remove-btn-can" style="border: none;
                                      background-color: transparent;
                                      outline: none;"><i class="fas fa-trash ml-3"></i>
                                    </button>
                                </span>


                                </td>
                            </tr>
                        {% endwith %}
                    {% empty %}
                        <tr>
                            <td colspan="4"></td>
                            <td><b>Your cart is empty</b></td>
                        </tr>

                    {% endfor %}
                    <tr>
                        <td><b>Total:</b></td>
                        <td colspan="3"></td>
                        <td id="cart-total"><b>${{ cart.get_total_price }}</b></td>
                    </tr>

                    </tbody>
                </table>

                <p class="text-right">
                    <a href="{% url "shop:homepage" %}" class="btn btn-secondary">
                        Continue shopping</a>
                    {% if cart|length %}
                        <a href="#" class="btn btn-primary">Checkout</a>
                        </p>
                    {% endif %}
            </div>
        </div>
    </main>

{% endblock content %}
{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/shop/fetch-request.js' %}"></script>
    <script>
        const headers = {
            'Content-Type': 'application/json',
            'X-CSRFToken': "{{ csrf_token }}"
        }

        // this button removes 1pc of product from the cart
        // if the number of products after deletion is zero, it completely removes the product from the cart
        document.querySelectorAll('.remove-btn').forEach(function (item) {
            item.addEventListener('click', function () {
            let product_id = this.dataset.index
            let remove_one_item_url = "{% url 'cart:cart_remove_one_item' %}"
            let remove_product_url = "{% url 'cart:cart_remove' %}"
            let product_qty = item.nextElementSibling.textContent

            if (product_qty <= 1) {
                sendRequest('POST', remove_product_url, {'product_id': product_id}, headers)
                .then(function (data) {
                    item.parentElement.parentElement.remove()
                    document.querySelector('#cart-total').innerHTML = '$' + data.cart_total
                    document.querySelector('#total-cart-qty').innerHTML = data.total_cart_qty

                    })
                .catch(err => console.log(err))
            } else {
                sendRequest('POST', remove_one_item_url, {'product_id': product_id}, headers)
                .then(function (data) {
                    item.nextElementSibling.textContent = parseInt(item.nextElementSibling.textContent) - 1
                    document.querySelector('#cart-total').innerHTML = '$' + data.cart_total
                    document.querySelector('#total-cart-qty').innerHTML = data.total_cart_qty
                    item.closest('tr').querySelector('.product-subtotal').innerHTML = '$' + data.subtotal
                    })
                .catch(err => console.log(err))

            }

        })
        })

        // this button adds 1pc of product to the cart
        document.querySelectorAll('.add-btn').forEach(function (item) {
            item.addEventListener('click', function () {
            let product_id = this.dataset.index
            let add_item_url = "{% url 'cart:add_to_cart' %}"

            sendRequest('POST', add_item_url, {'product_id': product_id}, headers)
            .then(function (data) {
                console.log(item)
                item.previousElementSibling.textContent = parseInt(item.previousElementSibling.textContent) + 1
                document.querySelector('#total-cart-qty').innerHTML = data.total_cart_qty
                item.closest('tr').querySelector('.product-subtotal').innerHTML = '$' + data.subtotal
                document.querySelector('#cart-total').innerHTML = '$' + data.cart_total
                console.log(data.cart_total)
            })
            .catch(err => console.log(err))
        })
            }

        )

        // removing product from the cart with all its pc's
        document.querySelectorAll('.remove-btn-can').forEach(function (item) {
            item.addEventListener('click', function () {
                let product_id = this.dataset.index
                let remove_product_url = "{% url 'cart:cart_remove' %}"

                sendRequest('POST', remove_product_url, {'product_id': product_id}, headers)
                    .then(function (data) {
                        item.closest('tr').remove()
                        document.querySelector('#cart-total').innerHTML = '$' + data.cart_total
                        document.querySelector('#total-cart-qty').innerHTML = data.total_cart_qty

                    })
                    .catch(err => console.log(err))


            })
        })


    </script>
{% endblock %}

  

