{% extends "base.html" %}
{% block title %}Payment canceled{% endblock %}
{% block content %}
    <main class="mt-5 pt-4">
        <div class="container mt-5">
            <section class="mt-5">
                <div class="row wow fadeIn">
                    <div class="col-6 offset-3 text-center">
                        <h2>Your payment has not been processed</h2>
                        <p>There was a problem processing your payment.</p>
                    </div>
                </div>
            </section>
        </div>
    </main>

{% endblock %}
