{% extends "base.html" %}
{% load static %}
{% block title %}Pay by credit card{% endblock %}
{% block content %}
    <main class="mt-5 pt-4">

        <div class="container wow fadeIn">
            <h1 class="text-center">Pay by credit card</h1>
            <div class="row">

                <div class="bootstrap-basic">
                    <form id="payment" class="needs-validation" novalidate="" method="post">

                        <div class="row">
                            <div class="col-sm-6 mb-3">
                                <label for="cc-name">Name on card</label>
                                <div class="form-control" id="cc-name"></div>
                                <small class="text-muted">Full name as displayed on card</small>
                                <div class="invalid-feedback">
                                    Name on card is required
                                </div>
                            </div>
                            <div class="col-sm-6 mb-3">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="you@example.com">
                                <div class="invalid-feedback">
                                    Please enter a valid email address for shipping updates.
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 mb-3">
                                <label for="cc-number">Credit card number</label>
                                <div class="form-control" id="cc-number"></div>
                                <div class="invalid-feedback">
                                    Credit card number is required
                                </div>
                            </div>
                            <div class="col-sm-3 mb-3">
                                <label for="cc-expiration">Expiration</label>
                                <div class="form-control" id="cc-expiration"></div>
                                <div class="invalid-feedback">
                                    Expiration date required
                                </div>
                            </div>
                            <div class="col-sm-3 mb-3">
                                <label for="cc-expiration">CVV</label>
                                <div class="form-control" id="cc-cvv"></div>
                                <div class="invalid-feedback">
                                    Security code required
                                </div>
                            </div>
                        </div>

                        <hr class="mb-4">
                        <div class="text-center">
                            <button class="btn btn-primary btn-lg" type="submit">Pay with <span
                                    id="card-brand">Card</span></button>
                        </div>
                        <input type="hidden" id="nonce" name="payment_method_nonce" value="">
                        {% csrf_token %}
                    </form>
                </div>
                <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
                    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
                        <div class="toast-header">
                            <strong class="mr-auto">Success!</strong>
                            <small>Just now</small>
                            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="toast-body">
                            Next, submit the payment method nonce to your server.
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>
    </main>

    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>

    <!-- includes the Braintree JS client SDK -->
    <script src="https://js.braintreegateway.com/web/3.65.0/js/client.min.js"></script>

    <!-- Load Hosted Fields component. -->
    <script src="https://js.braintreegateway.com/web/3.65.0/js/hosted-fields.min.js"></script>
    <script>
        var form = document.querySelector('#payment');
        var submit = document.querySelector('button[type="submit"]');
        braintree.client.create({
            authorization: '{{ client_token }}'
        }, function (clientErr, clientInstance) {
            if (clientErr) {
                console.error(clientErr);
                return;
            }
            braintree.hostedFields.create({
                client: clientInstance,
                styles: {
                    'input': {'font-size': '13px'},
                    'input.invalid': {'color': 'red'},
                    'input.valid': {'color': 'green'}
                },
                fields: {
                    cardholderName: {
                        selector: '#cc-name'
                    },
                    number: {selector: '#cc-number'},
                    cvv: {selector: '#cc-cvv'},
                    expirationDate: {selector: '#cc-expiration'}
                }
            }, function (hostedFieldsErr, hostedFieldsInstance) {
                if (hostedFieldsErr) {
                    console.error(hostedFieldsErr);
                    return;
                }
                submit.removeAttribute('disabled');
                form.addEventListener('submit', function (event) {
                    event.preventDefault();
                    hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
                        if (tokenizeErr) {
                            console.error(tokenizeErr);
                            return;
                        }
                        // set nonce to send to the server
                        document.getElementById('nonce').value = payload.nonce;
                        // submit form
                        document.getElementById('payment').submit();
                    });
                }, false);
            });
        });
    </script>

{% endblock %}

{#<form id="payment" method="post" class="card-body">#}
{##}
{#                        <div class="padding">#}
{#                            <div class="row">#}
{#                                <div class="col-sm-6">#}
{#                                    <div class="card">#}
{#                                        <div class="card-header">#}
{#                                            <strong>Credit Card</strong>#}
{#                                            <small>enter your card details</small>#}
{#                                        </div>#}
{#                                        <div class="card-body">#}
{#                                            <div class="row">#}
{#                                                <div class="col-sm-12">#}
{#                                                    <div class="form-group">#}
{#                                                        <label for="name">Name</label>#}
{#                                                        <input class="form-control" id="name" type="text"#}
{#                                                               placeholder="Enter your name">#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <div class="row">#}
{#                                                <div class="col-sm-12">#}
{#                                                    <div class="form-group">#}
{#                                                        <label for="card-number">Credit Card Number</label>#}
{#                                                        <div id="card-number"></div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <div class="row">#}
{#                                                <div class="form-group col-sm-6">#}
{#                                                    <label for="expiration-date">Expiration Date</label>#}
{#                                                    <div id="expiration-date"></div>#}
{#                                                </div>#}
{#                                                <div class="col-sm-6">#}
{#                                                    <div class="form-group">#}
{#                                                        <label for="cvv">CVV/CVC</label>#}
{#                                                        <div id="cvv"></div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="card-footer">#}
{#                                            <button class="btn btn-sm btn-success float-right" type="submit">#}
{#                                                <i class="mdi mdi-gamepad-circle"></i> Continue#}
{#                                            </button>#}
{#                                            <button class="btn btn-sm btn-danger" type="reset">#}
{#                                                <i class="mdi mdi-lock-reset"></i> Reset#}
{#                                            </button>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <input type="hidden" id="nonce" name="payment_method_nonce" value="">#}
{#                        {% csrf_token %}#}
{#                    </form>#}